<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='img/style.css') }}">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Hjem</a></li>
                <li><a href="{{ url_for('meny') }}">Meny</a></li>
                <li><a href="{{ url_for('varer') }}">Varer</a></li>
                <li><a href="{{ url_for('kontakt') }}">Kontakt</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 Developed by Audun Midtgård Meckelborg</p>
        <p><a href="https://github.com/audun-web" target="_blank">View My GitHub</a></p>
    </footer>
</body>
</html>