{% extends "base.html" %}

{% block content %}
<h1 class="title">Vårt Team</h1>

<div class="welcome-container contact-grid">
    <div class="contact-card">
        <h3>Sjef</h3>
        <p>Audun Midtgård Meckelborg</p>
        <p>TLF: +47 921 68 056</p>
    </div>
    <div class="contact-card">
        <h3>Kundeservice</h3>
        <p>Ebbe Gassed On</p>
        <p>TLF: +47 930 50 911</p>
    </div>
    <div class="contact-card">
        <h3>Servitør</h3>
        <p>Ludvig Ekebergsletta</p>
        <p>TLF: +47 911 69 420</p>
    </div>
    <div class="contact-card">
        <h3>Kokk</h3>
        <p>Nikolai Furry Toucher</p>
        <p>TLF: +47 271 11 920</p>
    </div>
    <div class="contact-card">
        <h3>Renhold</h3>
        <p>Noah Blåbær</p>
        <p>TLF: +47 111 12 113</p>
    </div>
</div>
{% endblock %}