{% extends "base.html" %}

{% block content %}
<h1 class="title">Vårt Team</h1>

<div class="welcome-container contact-grid">
    <div class="contact-card">
        <h3>Sjef</h3>
        <p>Audun Midtgård Meckelborg</p>
    </div>
    <div class="contact-card">
        <h3>Kundeservice</h3>
        <p>Ebbe Grebbe</p>
    </div>
    <div class="contact-card">
        <h3>Servitør</h3>
        <p>Ludvig Lelulu</p>
    </div>
    <div class="contact-card">
        <h3>Kokk</h3>
        <p>Nikolai</p>
    </div>
    <div class="contact-card">
        <h3>Renhold</h3>
        <p>Noah Boah</p>
    </div>
</div>
{% endblock %}