{% extends "base.html" %}

{% block content %}
<h1 class="title">Våre Faste Varer</h1>

<div class="welcome-container products-grid">
    <div class="product-item">
        <h4>Coca-Cola</h4>
        <p class="price">25,-</p>
    </div>
    <div class="product-item">
        <h4>Pepsi Max</h4>
        <p class="price">25,-</p>
    </div>
    <div class="product-item">
        <h4>Fanta</h4>
        <p class="price">25,-</p>
    </div>
    <div class="product-item">
        <h4>Red Bull</h4>
        <p class="price">35,-</p>
    </div>
    <div class="product-item">
        <h4>Burn</h4>
        <p class="price">30,-</p>
    </div>
    <div class="product-item">
        <h4>Vannflaske</h4>
        <p class="price">20,-</p>
    </div>
    <div class="product-item">
        <h4>Sjokolademelk</h4>
        <p class="price">28,-</p>
    </div>
    <div class="product-item">
        <h4>Muffin</h4>
        <p class="price">25,-</p>
    </div>
    <div class="product-item">
        <h4>Croissant</h4>
        <p class="price">22,-</p>
    </div>
</div>
{% endblock %}